img{
  position: absolute;
}
.list{
  
  position: relative;
  list-style-type: none;
  text-align: center;
 
}
li{
  background-color: #40B5AD;
  height: 40px;
  float:left;
  display: block;
  width: 300px;
  border-radius: 20px;
  box-shadow: 5px 10px 5px black;
  
}
.ele{
  margin-left: 300px;
}

input{
  margin-top: 390px;
  margin-left: 35%;
  width: 400px;
  height: 30px;
  border-radius: 10px;
}
button{
  margin-top: 10px;
  margin-left: 700px;
}
.Answer{
  margin-top: 10px;
  margin-left: 400px;
}