ul {
    list-style-type: none;
    margin: 0;
    padding: 30;
    overflow: hidden;
  }
  
  li {
    margin-right: 0px;
    float: left;
  }
  
  li a ,input{
    display: block;
    padding: 8px;
    width: 100px;
    background-color:aliceblue;
  }